<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SqlConnection" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=erp;Data Source=127.0.0.1"/>
  </appSettings>
</configuration>